@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Barlow Condensed';
    src: url('/fonts/BarlowCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  